body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.carousel-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: center;
    
}

#carouselExampleRide {
    width: 100%;
    margin: 0;
    padding: 0;
}

.carousel-inner {
    width: 100%;
    margin: 0;
    padding: 0;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    border-radius: 15px;
    margin-top: 110px;
}

/* Responsive */
@media (max-width: 768px) {
    .carousel-item img {
        height: 280px;
    }
}

@media (max-width: 480px) {
    .carousel-item img {
        height: 200px;
    }
}

.buttons{
    margin-top: 25px;
    background-color: #84b64f;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none; 
    margin-left: 15%;
    width: 15%;
    transition: transform 0.2s ease-in-out;
}
.buttons:hover {
  transform: scale(1.05); /* Aumenta 5% el tamaño */
}
.si{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0px;
    margin-left: 0px;
    flex-wrap: wrap;  
}

@media (max-width: 760px) {
    .si > * {
        width: 40%;           /* 2 en línea en pantallas medianas */
        margin-left: 30%;
    }
}
@media (max-width: 759px) {
    .si > * {
        width: 30%;           /* 1 en línea en pantallas pequeñas */
        margin-left: 10px;
    }
}


/* Responsive for carousel item image */
@media (max-width: 768px) {
.carousel-item img {
    margin-top: 85px;
}
}