<app-nav-bar></app-nav-bar>
<section class="container"><title>Servicios</title> 
<h2>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
  </svg>
  Servicios
</h2>
<p>Conoce todo lo que incluye tu contratación, desde atención personalizada hasta soporte técnico</p>

</section>
<section class="services">
  <div class="service">
    <img src="Mesa_2.jpg" alt="Mobiliario" />
    <div class="service-text">
      <h4>Mobiliario</h4>
      <p>Mesa redonda con mantel y cubremantel, además de sillas blancas tipo Tiffany para los asistentes.</p>
    </div>
  </div>
  <div class="service reverse">
    <img src="Juegos_Infantiles_2.jpg" alt="Area de recreación infantil" />
    <div class="service-text">
      <h4>Area Infantil</h4>
      <p>Un amplio jardín con cama elástica, juegos infantiles y garantizando diversión para todas las edades.</p>
    </div>
  </div>
  <div class="service">
    <img src="Alberca.jpg" alt="Area de Alberca" />
    <div class="service-text">
      <h4>Alberca</h4>
      <p>Alberca con agua caliente y tobogán (medidas 1.5mx4.2m)</p>
    </div>
  </div>
  <div class="service reverse">
    <img src="Panoramica_4.jpg" alt="Area de recreación jardín" />
    <div class="service-text">
      <h4>Area Jardin</h4>
      <p>Jardín amplio y acogedor para eventos inolvidables</p>
    </div>
  </div>
  <div class="service">
    <img src="Asador_2.jpg" alt="Asador" />
    <div class="service-text">
      <h4>Asador</h4>
      <p>Espacio equipado con parrilla, refrigerador, asador, disco y hielera, ideal para la preparación y conservación de alimentos.</p>
    </div>
  </div>
  <div class="service reverse">
    <img src="Bocina.jpg" alt="Bocina" />
    <div class="service-text">
      <h4>Equipo de sonido</h4>
      <p>Bocina Bluetooth para ambientar el evento con música a elección del cliente.</p>
    </div>
  </div>
</section>
<section class="containersvg">
  <ul>
    <li class="svg-row">
      <h4>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
        </svg>
        <span>Duración:</span>
      </h4>
      <p>El servicio tiene una duración de 6 horas.</p>
    </li>
  </ul>
</section>
<app-footer></app-footer>