.footer {
    background-color: black;
    color: #ffffff;
    margin-top: 40px;
    padding: 20px;
}

.text{
    text-align: justify;
}

.copy{
    text-align: center;
    margin-top: 70px;
}

.footer a:hover {
    color: #84b64f;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

.contacts{
    align-items: right;
    padding-left: 20%;
}