.footer {
    background-color: black;
    color: #ffffff;
    margin-top: 60px;
    padding: 20px;
}
.logo{
    width: 30px;
    height: 30px;
}

.text{
    text-align: justify;
}

.contacts{
    text-align: center;
}

.copy{
    text-align: center;
    margin-top: 70px;
}