.formulario-resumen-container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  margin-top: 150px;
}

.formulario h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.formulario {
  display: grid;
  gap: 1rem;
}

.formulario label {
  font-weight: 600;
  color: #444;
  margin-bottom: 0.3rem;
  display: block;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="date"],
.formulario select {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: border 0.2s ease-in-out;
  font-size: 1rem;
}

.formulario input:focus,
.formulario select:focus {
  border-color: #007bff;
  outline: none;
  background-color: #fff;
}

.horas-registro {
  margin-top: 1rem;
}

.horas-registro p {
  margin-top: 0.5rem;
  color: #666;
}

.extras {
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 8px;
}

button[type="submit"] {
  background-color: #6D9A45;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[disabled] {
  background-color: #fff;
  color: #000;
}


.cancelar-btn:hover {
  background-color: #d62828;
}

.terminos-checkbox label {
  display: flex;
  align-items: center;
  font-size: 1.1rem; /* Más pequeño */
  color: #000;
  font-family: 'Segoe UI', Arial, sans-serif;
  cursor: pointer;
  margin-bottom: 12px;
}

.terminos-checkbox input[type="checkbox"] {
  display: none;
}

.custom-check {
  width: 20px;   /* Más pequeño */
  height: 20px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.terminos-checkbox input[type="checkbox"]:checked + .custom-check::after {
  content: '✔';
  color: #000;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.terminos-text {
  font-size: 1.1rem; /* Más pequeño */
  color: #000;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}


