<app-nav-bar></app-nav-bar>
<div class="budget-table-container">
  <h2>Lista de Costos</h2>

  <div *ngFor="let costo of costos" class="table-wrapper">
    <table class="budget-table">
      <thead>
        <tr>
          <th>Paquete</th>
          <th>Con Alberca</th>
          <th>Sin Alberca</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>5 a 25 personas</td>
          <td>$ {{ costo.p1_with_pool }} </td>
          <td>$ {{ costo.p1_without_pool }}</td>
        </tr>
        <tr>
          <td>26 a 50 personas</td>
          <td>$ {{ costo.p2_with_pool }}</td>
          <td>$ {{ costo.p2_without_pool }}</td>
        </tr>
        <tr>
          <td>51 a 80 personas</td>
          <td>$ {{ costo.p3_with_pool }}</td>
          <td>$ {{ costo.p3_without_pool }}</td>
        </tr>
        <tr>
          <td>81 a 100 personas</td>
          <td>$ {{ costo.p4_with_pool }}</td>
          <td>$ {{ costo.p4_without_pool }}</td>
        </tr>
        <tr>
          <td>101 a 150 personas</td>
          <td>$ {{ costo.p5_with_pool }}</td>
          <td>$ {{ costo.p5_without_pool }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<section class="aviso-precios">
  <p>
    ⚠️ <strong>Aviso:</strong> Los precios pueden variar si el evento es <strong>XV Años</strong>, ya que se debe contratar servicio de <strong>seguridad adicional</strong>.
  </p>
</section>


<app-footer> </app-footer>
