<app-nav-bar></app-nav-bar>

<!-- Tabla de presupuestos -->
<section class="budget-table-section">
  <table class="budget-table">
    <thead>
      <tr>
        <th>Personas</th>
        <th>Precios con alberca</th>
        <th>Precios sin alberca</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>5 a 25</td>
        <td>$4400</td>
        <td>$3900</td>
      </tr>
      <tr>
        <td>26 a 50</td>
        <td>$5400</td>
        <td>$4900</td>
      </tr>
      <tr>
        <td>51 a 80</td>
        <td>$5900</td>
        <td>$5400</td>
    </tr>
    <tr>
        <td>81 a 100</td>
        <td>$6900</td>
        <td>$6400</td>
    </tr>
    <tr>
        <td>101 a 150</td>
        <td>$7900</td>
        <td>$7400</td>
    </tr>
    </tbody>
    </table>
    <div class="budget-brush"></div>
</section>

<app-footer> </app-footer>
