#location{
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

#map{
    margin: 20px auto;
    max-width: 100%;
}

.map iframe{
    width: 60%;
    height: auto;
    aspect-ratio: 16/9;
    border: 0;
    margin-left:20%;
}

#text{
    color: #000000;
text-align: justify;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:10%;
    margin-right: 10%;
}

#title{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}




