<app-nav-bar></app-nav-bar>
<section class="terminos-container">
  <h2>Términos y Condiciones</h2>
  <ul class="terminos-list">
    <li>
      <strong>1.</strong> EVENTOS SAHUARO proporcionará 6 horas de servicio, comenzando a las 09:00 horas.
    </li>
    <li>
      <strong>2.</strong> El contratante se compromete a pagar el 50% de la cotización de anticipo al firmar el contrato. El restante se deberá realizar en un pago más con fecha del día de la realización del evento al inicio del mismo.
    </li>
    <li>
      <strong>3.</strong> En caso de cancelación voluntaria o involuntaria de este contrato por parte del contratante, acepta que el anticipo se queda como pago de administración al salón Eventos Sahuaro o reagendación de fecha siempre y cuando esté disponible la misma (no hay plazos límites de vencimiento).
    </li>
    <li>
      <strong>4.</strong> Si durante la prestación del servicio este es suspendido antes de finalizar el tiempo contratado por causas ajenas al salón Eventos Sahuaro, el contratante conviene en pagar la totalidad del tiempo.
    </li>
    <li>
      <strong>5.</strong> En caso de riña dentro y fuera de las instalaciones del salón y durante el evento, este mismo será suspendido inmediatamente.
    </li>
    <li>
      <strong>6.</strong> Nuestro mobiliario se entrega en buen estado, en caso de algún daño será cubierto en su totalidad por el contratante.
    </li>
    <li>
      <strong>7.</strong> Al contratar el servicio de alberca, será responsabilidad del contratante el cuidado y supervisión de menores de edad, lo cual exime de responsabilidad al prestador de servicios.
    </li>
  </ul>
  <div style="text-align:center; margin-top: 32px;">
    <a [routerLink]="['/app-reservation']" class="btn-regresar">Regresar</a>
  </div>
</section>
<app-footer></app-footer>