<section class="linea ">
<div class="card" style="width: 28%;">
  <img src="Location.png" class="card-img-top" alt="Ubicacion">
  <div class="card-body">
    <h5 class="card-title">Nuestra ubicaion</h5>
    <p class="card-text">Conoce nuestra ubicación precisa  </p>
    <a [routerLink]="['/location']" routerLinkActive="router-link-active" class="btn btn-primary">Ver más</a>
  </div>
</div>
<div class="card" style="width: 28%;">
  <img src="OurService.jpg" class="card-img-top" alt="Ubicacion">
  <div class="card-body">
    <h5 class="card-title">Nuestros servicios</h5>
    <p class="card-text">Conoce los servicios basicos que vienen incluidos al contratar nuestros servicios</p>
    <a [routerLink]="['/app-basic-services']" routerLinkActive="router-link-active" href="#" class="btn btn-primary">Ver más</a>
  </div>
</div>
<div class="card" style="width: 28%;">
  <img src="OurAddService.jpg" class="card-img-top" alt="Ubicacion">
  <div class="card-body">
    <h5 class="card-title">Nuestros servicios adicionales</h5>
    <p class="card-text">Conoce nuestros servicios adicionales que brindamos para que puedan aumentar su experiencia</p>
    <a [routerLink]="['/our-add-service']" routerLinkActive="router-link-active" href="#" class="btn btn-primary">Ver más</a>
  </div>
</div>
</section>