
.logo {
    width: 90px;
    height: 90px;
}

.navbar{
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
}

.nav-link:hover {
    background-color: #84b64f;
    color: white;
    border-radius: 15px;
    font-size: 16px;
}

.nav-link{
    margin-left: 25px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-toggler-icon {
  width: 20px;
  height: 20px;
}


/* Responsive*/
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  .nav-links a {
    padding: 0.5rem 0;
    border-top: 1px solid #ddd;
  }

  #menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .logo {
    height: 70px;
    width: 70px;
  }
}
