.navbar {
    border: 2px solid #84b64f;
    /* Grosor, tipo de línea y color */
    padding: 2px;
    /* Espacio interno */
    margin: 5px auto;
    border-radius: 15px;
    /* Bordes redondeados */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-brand {

    margin-left: 100px;
    font-size: 28px;
    color: #84b64f;
    text-align: center;
    font-family: "Ultra", serif;
    font-weight:900;
    font-style: normal;
}




@media (max-width: 768px) {
    .navbar-brand {
        font-size: 25px;
        margin-left: 50px;
    }
}

@media (max-width: 480px) {
    .navbar-brand {
        font-size: 20px;
    }
}

.btn-contact {
    background-color: #84b64f;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}