@media (max-width: 768px) {
    .navbar-brand {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .navbar-brand {
        font-size: 20px;
    }
}

.navbar{
    background-color: #fff;
    border-radius: 20px;
}

.container-fluid{
    background-color: #fff;
}

.collapse{
    background-color: #fff;
}

.nav-link:hover {
    background-color: #84b64f;
    color: white;
    border-radius: 15px;
    font-size: 16px;
}

.nav-link{
    margin-left: 25px;
    padding: 10px;
}

.line{
    color: #000;
    font-size:larger;
}
