<link rel="stylesheet" href="nav-bar.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400..700&display=swap"
  rel="stylesheet">

<nav class="navbar bg-body-tertiary ">
  <div id="container" class="container-fluid">
    <img src="Logo.jpg" alt="Logo" width="30" height="30" class="d-inline-block">
    <a class="navbar-brand" href="#">
      Eventos Sahuaro
    </a>
    <button class="btn-cotizar">Cotizar</button>
    <button class="btn-cotizar">Reservar</button>
  </div>
</nav>