<app-nav-bar></app-nav-bar>

<img class="img" src="about-us.jpg" alt="img">

<p class="text">En Eventos Sahuaro, nos especializamos en convertir cada celebración en una experiencia inolvidable.</p>

<div class="container">
  <p class="text1">Desde nuestra fundación en 2018, nos hemos comprometido a ofrecer un servicio de excelencia, guiado por valores como la puntualidad, la limpieza, la amabilidad, la seguridad y la calidez.</p>
  <img class="img-text" src="about-us-1.jpg" alt="about-us-1">
</div>

<div class="container1">
  <img class="img-text" src="about-us-2.jpg" alt="about-us-2">
  <p class="text1">Nos destacamos por nuestra atención al detalle y el trato cercano
    con nuestros clientes, garantizando espacios limpios, personal atento y un ambiente seguro para que puedas disfrutar sin preocupaciones.</p>
</div>

<div class="container">
  <p class="text1">Contamos con un salón versátil, ideal para todo tipo de eventos: desde fiestas infantiles y reuniones familiares, hasta celebraciones especiales como bodas y XV años.
    Nuestro objetivo es siempre superar tus expectativas, asegurando la satisfacción en cada evento.</p>
  <img class="img-text" src="about-us-3.jpg" alt="about-us-3">
</div>

<app-footer></app-footer>
