<app-nav-bar></app-nav-bar>
<section class="container">
<h3>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
  </svg>
      Servicios Adicionales
  </h3>
  <p>Explora las opciones extra que ofrecemos para mejorar aún más tu experiencia con nosotros</p>
      
</section>
<section class="additional-services">
  <div class="service">
    <img src="MAQ_Palomera.jpg" alt="Palomera" />
    <div class="service-text">
      <h4>Palomera</h4>
      <p>Servicio de Palomera 2 horas con 100 bolsitas chicas de palomitas, palomitas con sal y mantequilla.</p>
    </div>
  </div>
  <div class="service reverse">
    <img src="Infla_Rojo.jpg" alt="Inflable Infantil Rojo" />
    <div class="service-text">
      <h4>Inflable Infantil Rojo</h4>
      <p>Inflable infantil rojo de Cars Disney.</p>
    </div>
  </div>
  <div class="service">
    <img src="Infla_Rosa.jpg" alt="Inflable Infantil Rosa" />
    <div class="service-text">
      <h4>Inflable Infantil Rosa</h4>
      <p>Inflable infantil rosa de princesas Disney.</p>
    </div>
  </div>
</section>
<section class="containersvg">
  <div class="svg-row">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
      <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
    </svg>
    <span>Contamos con Horas Extra (Precio por Hora)</span>
  </div>
</section>
<app-footer></app-footer>